/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}

/*--------------------*/
body{
    font-size: 12.5px;
    margin: 10px 10px;
   
}
.list{
   background: bisque;
    width: 130px;
    display: inline-block;
    height: 50px;
    padding: 10px;
    
}
.list li{

   list-style-position:inside ;
   list-style-type: disc; 
   color: black;
  
   position: static;
}

.block1{
   background: aqua;
   position: absolute;
   top: 70px;
   width: 150px;
   height: 100%;
   bottom: 0;
}

.text{
   position: relative;
   max-width: 88%;
   display: flex;
   left:150px;
   top: -70px;
   bottom: 10px;
   background: rgb(187, 181, 181);
   font-size: 11px;
}

.block2{
    background: limegreen;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    margin: 0 0 0 -10px;
 }

 @media (max-width: 700px) {
   .content{
     flex-wrap: nowrap;
   }
   .text{
      width: 68%;
      height: 100%;
      
   }
   .block1 {
      height: 100%;
   }
   
 }