/*Обнуление*/
*{padding: 0;margin: 0;border: 0; }

/*--------------------*/
body{
    font-size: 11px;
    margin: 0;
   
}

header{
   background: #EAEAEA;
   font-size: 22px;
    font-weight: 550; 
    padding:20px 0 40px 20px;
    margin: -10px -10px 0 -10px;
}
.Column{
   float:left;
   font-family:'Times New Roman', Times, serif; 
   background: #C8FC98;
   font-size: 13px; 
   width: 150px; 
   margin: 0px -10px 0; 
   padding: 0 5px 0px 15px;
   line-height:18px;
   position: static;
}
.content{
   display: flex;
   height: 620px;
   line-height:18px;
   position: relative;
   left: 17px;
   
}

footer{
   background: black; 
   z-index: 100;
   align-items: center;
   height: 37px;
   position: relative;
   bottom: -10px;
}