/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}

/*--------------------*/

.center{
    color:white;
    background: blue;
    display: flex;
    margin: 10px ;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    line-height:14px;
    font-size: 11.5px;
}