/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}

/*--------------------*/
body{
    font-size: 12.5px;
    margin: 10px 10px;
}
.content
{
   border: 1px solid black;
   display: flex;
   background: aqua;
}
.list{
   background: bisque;
   min-width: 300px;
   height: 70px;
   float:left;
   padding:10px 0 0 40px;
   
}
.list li{
   list-style-position:inside ;
   list-style-type: disc; 
   color: black;
}
.text{
   background: darkgray;
}

@media (max-width: 700px) {
   .content{
     flex-wrap: wrap;
     justify-content: center;
   }
   .list {
     float:none;
     min-width:0;
     width: 700px;
     height: 15px;
     position: relative;
     top: 20px;
     
   }
   .list li{
      display: inline;
      list-style-position:none;
      list-style-type: none;
   }
   .text{
      margin-top: 50px;
   }
 }