/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}

/*--------------------*/
body{
    font-size: 12px;
    margin: 10px 10px;
    color: white;
    display: flex;
    justify-content: center;
}

.text{
   background: blue;
   width: 450px;
   min-width: 450px;
}


.img{

   padding: 0 0 10px 10px;
   width: 200px;
   height: 165px;
   float: right;
  
}