/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}

/*--------------------*/
body{
    overflow-y: hidden;
    overflow-x: scroll;

    display: flex;
    justify-content: center;
}
.center{
    color:white;
    background: blue;
    margin: 10px ;
    width: 430px;
    min-width: 100px;
    line-height:14px;
    font-size: 11.5px;
}